.wrap ,.statline,.subject{
	position: relative;
}

.name,.ects,.type,.grade,.sb1,.sb2,.prof,.date,.subjects,.stats ,.label,.value{
	position: absolute;
}

.stats{
	left: 400px;
}

.statwrap{
	overflow:hidden;
	width: 300px;
}

.statline{
	height: 20px;
	width: 300px;
}
.h5 {
	font-weight: bold;
	height: 25px;
	
}

.label,{
	width: 100px;
}
.label{
	left: 0px;
}
.value{
	right: 0px;
}

.subject{
	margin: 3px;
	width: 370px;
	height: 35px;
}
.pos {
	background: #A2CD5A;
}
.neg {
	background: #FA8072;
}
.todo{
	background: #FFD700
}
.new{
	background: #ACE5EE
}

.name,.prof,.title{
	overflow: hidden;
	text-overflow: clip 
}
.name {
	width: 260px;
	max-height: 18px;
}



.grade {
	margin: 5px;
	font-size: 18pt;
	right: 0px;
	top: 0px;
}

.date, .prof {
	color: #666666;
	font-size: 10pt;
	bottom: 0px;
}
.prof, .name{
	left: 85px;
}
.ects,.date{
	left: 20px;
}
.type{
	left: 50px;
}
.ects, .type {
	color:	#444;
}


.sb1, .sb2{
	border: 1pt #0ac solid;
	font-size: 8pt;
	width: 18px;
	height: 18px;
	float:top;
	left: 0px;
}
.sb1{
	top: 0px;
}
.sb2{
	bottom: 0px;
}