.wrap ,.statline,.subject,.inputs{
	position: relative;
}

.name,.ects,.type,.grade,.sb1,.sb2,.prof,.date,.subjects,.stats ,.label,.value,.input,.input2 {
	position: absolute;
}

.stats{
	left: 420px;
}

.statwrap{
	overflow:hidden;
	width: 300px;
}

.statline{
	height: 20px;
	width: 300px;
}
.h5 {
	font-weight: bold;
	height: 25px;
	
}

.label{
	left: 0px;
}
.value{
	right: 0px;
}

.subject{
	margin: 3px;
	width: 390px;
	height: 38px;
}
.pos {
	background: #A2CD5A;
}
.neg {
	background: #FA8072;
}
.todo{
	background: #FFD700
}
.new{
	background: #ACE5EE
}

.name,.prof,.title{
	overflow: hidden;
	text-overflow: clip 
}
.name {
	max-height: 18px;
}



.grade{
	margin: 5px;
	font-size: 18pt;
	right: 0px;
	top: 0px;
}

.date, .prof {
	color: #666666;
	font-size: 11pt;
	bottom: 0px;
}
.prof, .name,.iname,.iprof{
	left: 100px;
	width: 259px;
}
.ects,.date,.iects,.idate{
	left: 20px;
}

.ects, .type, {
	color:	#444;
}



.input,.input2 {
	border: none;
	padding: 0px;
	margin: 2px;
	opacity: 0.7;
	border: none;
}


.sb1, .sb2{
	border: 1pt #0ac solid;
	font-size: 8pt;
	width: 18px;
	height: 18px;
	float:top;
	left: 0px;
}


.input,.sb1{
	top: 0px;
}
.input2, .sb2{
	bottom: 0px;
}



.itype,.type{
	width: 37px;
	left: 61px;
}
.iects,.ects{
	width: 38px;
}
.igrade{
	width: 20px;
	top: 0px;
	right: 0px;
	font-size: 18pt;
	padding-left: 3pt;
	height: 34px;
}

.idate{
	width: 78px;
	font-size: 9pt;
	padding-top: 1px;
}

.sorts{
	float: right;
	font-size: 12pt;
	color: #555;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}